bkcharts==0.2
bokeh==0.12.7
certifi==2017.7.27.1
chardet==3.0.4
configparser==3.5.0
cycler==0.10.0
dj-database-url==0.4.2
Django==1.11.4
django-crispy-forms==1.6.1
gunicorn==19.7.1
idna==2.5
inflection==0.3.1
Jinja2==2.9.6
MarkupSafe==1.0
matplotlib==2.0.2
more-itertools==3.2.0
numpy==1.13.1
olefile==0.44
pandas==0.20.3
Pillow==4.2.1
psycopg2==2.7.3.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==5.4
Quandl==3.2.0
requests==2.17.3
six==1.10.0
tornado==4.5.2
urllib3==1.21.1
