{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <form id="input" method="GET" action="">{% csrf_token %}
            <p>
            <div class="form-group">
                    Ticker: <input type="text" name="ticker" value="{{ request.GET.ticker }}" required/></br>
                <select class="form-control" name="choice" value="{{ request.GET.choice }}" required>Graph:
                    <option name="singleview">Single Stock</option>
                    <option name="candlestick">Candlestick</option>
                    <option name="onemonth">One Month Average</option>
                </select>
            <input type="submit" class="btn btn-default" value="Submit"/>
            </div>
            </p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
